<%- include ("partials/header") -%>


  
     
  <div class="w3-panel row" >

    <div class="col-lg-6 col-md-12 w3-half banana">
      <h1 style="font-size:2rem" id="day"></h1>
      <h1 style="font-size:2.5rem; color:darkgreen" id="today"></h1>
        <h1 style="font-size:2rem;"  id="time"></h1> 
    </div> 

    <div class="col-lg-6 col-md-12 w3-half" style="background-color:#ffadc6;width:50%; margin:auto; padding: 2rem">
      <h2 class="w3-xxlarge">Your future is created by what you do today, not tomorrow.</h2>
      <h6 class="w3-large"> Anonymous </h6>
      
      

        
    </div> 

  </div>

<hr>



<div class="w3-container">
  <h1 style="font-size:2rem">Current Projects</h1>
  <ul class="w3-ul w3-card-4 w3-white">


<% projectList1.forEach(function(i){ %>

  <li class="w3-padding-16">
    <img src="" class="w3-left w3-circle w3-margin-right" style="width:35px">
    <span class="w3-xxlarge"><%=i.projectName%></span><br>
    <span class="w3-xlarge">Course code: <%=i.courseCode%></span>
    <br>
    
    <br>
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample<%=i._id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
        View details
      </a>
      
    </p>
    <div class="collapse" id="collapseExample<%=i._id%>">
      <div class="card card-body" style="width:75%; margin:auto;">
        <%=i.description%>
        <br> <br> <a class="btn btn-success" style="width:40%; margin:auto;" href="/projects/<%=i._id%>"> Visit project </a>
      <br>
      </div>
    </div>



  </li>

  <% }) %>
    <li class="w3-padding-16" style="background-color:#ffadc6">
      <img src="" class="w3-left w3-circle w3-margin-right" style="width:35px">
      <span class="w3-xxlarge">Add Project</span><br>
      <span class="w3-large">Click the button below to add a project.</span>
      <br>
      <p>
        <a class="btn btn-success" role="button" href="/addproject">
          Add project
        </a>
        
      </p>
      
    </li>
  </ul>
</div>






<hr>

<%- include ("partials/footer") -%>




  

