<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Edit Profile</title>
        <link rel="icon" href="images/favicon.png">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="editprofile.css">
        
    </head>

    <% if (newUsers1[0].about){ %>

        <body ng-app="" ng-init="fname='<%=newUsers1[0].username %>';email='<%=newUsers1[0].email %>';about='<%=newUsers1[0].about %>';imgURL='<%=newUsers1[0].imgURL %>';"> 
            <div class="container">
                <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img class="change" ng-bind="imgURL" src="{{imgURL}}" alt="Maxwell Admin">
                                </div>
                                <h5 class="user-name">{{fname}}</h5>
                                <h6 class="user-email">{{email}}</h6>
                            </div>
                            <div class="about">
                                <h5>About</h5>
                                <p>{{about}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                <form name="edit" method="POST" action="/editprofile" onsubmit="validateForm();">
                
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" id="fullname" name="fullname" ng-model="fname" value="<%=newUsers1[0].username %>">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" ng-model="email" name="email" value="<%=newUsers1[0].email %>">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" class="form-control" id="phone" name="phonenumber" value="<%=newUsers1[0].phonenumber %>">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Image URL</label>
                                    <input type="text" class="form-control" id="imgURL" name="imgURL" ng-model="imgURL" value="<%=newUsers1[0].imgURL %>">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">About</label>
                                    <textarea class="form-control" id="bio" name="about" ng-model="about" value=""><%=newUsers1[0].about %></textarea>
                                </div>
                            </div>
                         
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Address</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">Street</label>
                                    <input type="name" class="form-control" id="street" name="street" value="<%=newUsers1[0].street %>">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">City</label>
                                    <input type="name" class="form-control" id="city" name="city" value="<%=newUsers1[0].city %>">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="sTate">State</label>
                                    <input type="text" class="form-control" id="state" name="state" value="<%=newUsers1[0].state %>">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="zIp">Zip Code</label>
                                    <input type="text" class="form-control" id="zip" name="zipcode" value="<%=newUsers1[0].zipcode %>">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" id="submit" name="submit" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                                    <!-- <button type="submit"  onclick="validateForm()" id="submit" name="submit" class="btn btn-primary">Update</button> -->
                                    <button type="submit" id="submit" name="update" value="<%=newUsers1[0].username %>" class="btn btn-primary">Update</button>
        
                                         
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
                </div>
                </div>
                </div>
                </div>
                


                    <% } else { %>

                        <body ng-app="" ng-init="fname='<%=newUsers1[0].username %>';email='<%=newUsers1[0].email %>';about='Enter cool bio here';imgURL='images/Profile.png';"> 
                            <div class="container">
                                <div class="row gutters">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="account-settings">
                                            <div class="user-profile">
                                                <div class="user-avatar">
                                                    <img class="change" ng-bind="imgURL" src="{{imgURL}}" alt="Maxwell Admin">
                                                </div>
                                                <h5 class="user-name">{{fname}}</h5>
                                                <h6 class="user-email">{{email}}</h6>
                                            </div>
                                            <div class="about">
                                                <h5>About</h5>
                                                <p>{{about}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                <div class="card h-100">
                                <form name="edit" method="POST" action="/editprofile" onsubmit="validateForm();">
                                
                                    <div class="card-body">
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <h6 class="mb-2 text-primary">Personal Details</h6>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="fullName">Full Name</label>
                                                    <input type="text" class="form-control" id="fullname" name="fullname" ng-model="fname" value="<%=newUsers1[0].username %>">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="text" class="form-control" id="email" ng-model="email" name="email" value="<%=newUsers1[0].email %>">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="phone">Phone</label>
                                                    <input type="text" class="form-control" id="phone" name="phonenumber" value="">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="phone">Image URL</label>
                                                    <input type="text" class="form-control" id="imgURL" name="imgURL" ng-model="imgURL" value="images/Profile.png">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="phone">About</label>
                                                    <textarea class="form-control" id="bio" name="about" ng-model="about" value="">Enter cool bio here</textarea>
                                                </div>
                                            </div>
                                         
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <h6 class="mt-3 mb-2 text-primary">Address</h6>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="Street">Street</label>
                                                    <input type="name" class="form-control" id="street" name="street" value="Enter street">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="ciTy">City</label>
                                                    <input type="name" class="form-control" id="city" name="city" value="Enter city">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="sTate">State</label>
                                                    <input type="text" class="form-control" id="state" name="state" value="Enter state">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="zIp">Zip Code</label>
                                                    <input type="text" class="form-control" id="zip" name="zipcode" value="123456">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="text-right">
                                                    <button type="button" id="submit" name="submit" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                                                    <!-- <button type="submit"  onclick="validateForm()" id="submit" name="submit" class="btn btn-primary">Update</button> -->
                                                    <button type="submit" id="submit" name="update" value="<%=newUsers1[0].username %>" class="btn btn-primary">Update</button>
                        
                                                         
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                
                                </div>
                                </div>
                                </div>
                                </div>
                                <% } %>


            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

            <script src="editprofile.js"></script>
    
        
</body>

    </html>