<!DOCTYPE html>
<html>
<head>
<title>Project</title>
<meta charset="UTF-8">
<link rel="icon" href="images/favicon.png">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<link rel="stylesheet" href="/styles1.css">
<link rel="stylesheet" href="/jungkook.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Montserrat", sans-serif}
*{
    font-size: 1.25rem;
}

</style>

</head>
<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top colored-section w3-large" style="z-index:4;background-color: #ff4c68;">
      <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
      <a href="/dashboard" class="w3-bar-item w3-left" style="color: white;">ProjectValued</a>
      
      <span class="w3-bar-item w3-right "> Search </span>
    </div>
    

    <!-- Sidebar/menu -->



    <% if (!(newUsers1[0].imgURL) && !(newUsers1[0].username)){ %>

  
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
          <div class="w3-container w3-row">
            <div class="w3-col s4">
              <img src="" class="change w3-circle w3-margin-right" style="width:70%"> <!--default profile pic-->
            </div>
            <div class="w3-col s8 w3-bar">
              <span>Welcome, <strong>user</strong></span><br>
            </div>
          </div>
          <hr>
          <div class="w3-container">
          </div>
          <div class="w3-bar-block" >
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu">   X   Close Menu</a>
            <a href="" class="w3-bar-item w3-button w3-padding"><i class="fa fa-check fa-fw"></i>  Tasks</a>
            <a href="/dashboard" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Join Project</a>
        
            <a href="/editprofile" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user"></i>   Profile</a>
            <br><br><br><br><br><br><br><br><br>
            <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fas fa-arrow-left"></i>  Log Out</a>
          </div>
        </nav>
      
        <% } else { %>
      
      
      
          <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
            <div class="w3-container w3-row">
              <div class="w3-col s4">
                <img src="/<%=newUsers1[0].imgURL %>" class="change w3-circle w3-margin-right" style="width:70%"> <!--default profile pic-->
              </div>
              <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong><%=newUsers1[0].username %></strong></span><br>
              </div>
            </div>
            <hr>
            <div class="w3-container">
            </div>
            <div class="w3-bar-block" >
              <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu">   X   Close Menu</a>
              <a href="/projects/<%=foundProject1._id%>/tasklist" class="w3-bar-item w3-button w3-padding"><i class="fa fa-check fa-fw"></i>  Tasks</a>
              <a href="/dashboard" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Join Project</a>
          
              <a href="/editprofile" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user"></i>   Profile</a>
              <br><br><br><br><br><br><br><br><br>
              <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fas fa-arrow-left"></i>  Log Out</a>
            </div>
          </nav>
          <% } %>
      
      



    
    
    <!--Modal-->



    <!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- split -->
  <div class="w3-panel">
    <div class="w3-row-padding " style="margin:0 -16px">
      <div class="w3-third colored-section" style="padding: 2rem">
        <a href="/projects/<%=foundProject1._id%>/tasklist">
        <!--tasks progress -->
        <div class="flex-wrapper" style="margin-top: 10px;" >
          <div class="prog"><b>TASK PROGRESS</b></div>
          <div class="single-chart">
            <svg viewBox="0 0 36 36" class="circular-chart blue">
              <path class="circle-bg"
                d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path class="circle"
                stroke-dasharray="90, 100"
                d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <text x="18" y="20.35" class="percentage"><%=Math.round(foundProject1.completedTasks.length / (foundProject1.tasks.length + foundProject1.completedTasks.length) * 100) %>%</text>
            </svg>
          </div>
        </div>
            <!--task table-->
        <table class="w3-table w3-striped w3-white">
                <tr>  
                  <td>Tasks completed</td>
                  <td><i><%=foundProject1.completedTasks.length %></i></td>
                </tr>
                <tr>
                  <td>Tasks pending</td>
                  <td><i><%=foundProject1.tasks.length%></i></td>
                </tr>
                <tr>
                  <td>Total tasks</td>
                  <td><i><%=foundProject1.tasks.length + foundProject1.completedTasks.length %></i></td>
                </tr>
                <tr>
                  <td>
                    
                    <form action="/deleteproject" method="post">
                    <input type="hidden" name="projectOwner" value="<%=newUsers1[0]._id%>">
                      <button type="submit" name="deleteProject" value="<%=foundProject1._id%>" class="btn btn-danger"> Delete project </button>
                  </form>
                  
                  
                  </td><td></td>
                </tr>
        </table>
      </a>
              <hr class="hr">
            <!--chat box -->
        
      </div>
      <!--page content-->
      <div class="w3-twothird">
          <p style=" text-align: center;" class="cont2">
        <SPAN style=" text-align: center; color: black; font-size:45px;"><%=foundProject1.projectName%></SPAN> 
            <span style="margin-left:10px ; font-size: 1.5rem; font-weight: normal; color:#888 ;">#<%=foundProject1.code%></span> <br><br>
          <span style="font-size:1.5rem;">
            <%=foundProject1.description%>
          </span>
          </p>

          <div class="flex-parent1">
            <div class="box123 example">
              <h2 style="font-size: 180%">Technologies Used</h2>
                    <p style="font-size: 140%"><%=foundProject1.technologies%></p>
            </div>
          
            <div class="box123 example">
              <h2 style="font-size: 180%">Deadline</h2>
              <p style="font-size: 140%"><%=foundProject1.deadline%></p>
            </div>
          </div>


          <div class="flex-parent1">
            <div class="box123">
              <h2 style="font-size: 180%">Course Code</h2>
                  <p style="font-size: 140%"><%=foundProject1.courseCode%></p>
            </div>
          
            <div class="box123">
              <h2 style="font-size: 180%">Mentor</h2>
              <p style="font-size: 140%"> <%=foundProject1.mentor%></p>
            </div>
          </div>

       
      </div>

    </div>
  </div>
<!--team members cards-->

<h1 style="text-align: center; color: black; font-size: xx-large;"> TEAM MEMBERS</h1>
<ul class="cards">


<% foundProject1.users.forEach(function(i){ %>

  <li>
    <a class="card">
      <img src="/<%=i.imgURL%>" class="card__image" style="width:30%; padding:6px" alt="" />
      <div style="padding:5px">
        <div >

          <div >
            <h2 class="card__title"><%=i.name%></h3>            
          </div>
        </div>
        <h5> Email: <%=i.email%> </h5>
      </div>
    </a>      
  </li>



<% }) %>






  
</div>
              
</div>
</perfect-scrollbar>
</div>

</div>
</div>




<footer  id="footer" style="text-align: center;">
  <div >
    <br>
    <i class="social-icon  fab fa-facebook-f"></i>
    <i class="social-icon  fab fa-twitter"></i>
    <i class="social-icon  fab fa-instagram"></i>
    <i class="social-icon  fas fa-envelope"></i>
    <p>© Copyright 2022 ProjectValued</p>
    <br>
  </div>
  </footer>
</div>
<!-- Footer -->
  

<!-- End page content -->
</div>
    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");
        
        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");
        
        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
          if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
          } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
          }
        }
        
        // Close the sidebar with the close button
        function w3_close() {
          mySidebar.style.display = "none";
          overlayBg.style.display = "none";
        }
        </script>